{% extends 'base.html' %}

{% block title %} DinoSite! {% endblock %}

{% block content %}
<h1 class="mt-5">DinoSite!</h1>
<div class="container">
    <div class="row">
        {% for dino in dinosaurs %} 
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <h2>{{ dino['name'] }}</h2>
            <a href="{{ url_for('index', dino_id=dino['id']) }}">
            <figure>
                <img class="img-fluid" src="{{ url_for ('static', filename='images/'+ dino['image'])  }}" alt="{{ dino['slug'] }}">
                <figcaption>{{ dino['source-credit'] }}</figcaption>
            </figure>
            </a>
        </div>
        {% endfor %} 
    </div>
</div>

{% endblock %}
